*.o
*.db
temp
uuid
uptime
hardware/bin/*
hardware/daemon/experiments/*
hardware/daemon/daemon
hardware/daemon/sensorDaemon
hardware/daemon/homeAssistant
hardware/temperature/apikey.h
hardware/daemon/apikey.h
hardware/apikeys/apikey.h
hardware/.vscode

hardware/mqtt/localdata.h
hardware/mqtt/m

network
network.c
homepage/devices.py
homepage/__pycache__/*

*.bin
firmware/node/user_config.h
firmware/node/node

