*.o
*.db
temp
uuid
uptime
daemon/bin/*
daemon/daemon/experiments/*
daemon/daemon/daemon
daemon/daemon/sensorDaemon
daemon/daemon/homeAssistant
daemon/temperature/apikey.h
daemon/daemon/apikey.h
daemon/apikeys/apikey.h
daemon/.vscode
homepage/app/__pycache__/
homepage/migrations/
daemon/bin/
daemon/CMakeCache.txt
daemon/CMakeFiles/
daemon/Makefile

daemon/common/mqtt.o

#*.cmake
*.swp

daemon/cmake_install.cmake
daemon/mqtt/localdata.h
daemon/mqtt/m

network
network.c
homepage/devices.py
homepage/__pycache__/*
homepage/venv/

*.bin
firmware/node/user_config.h
firmware/node/node

*.elf
*.hex

common/bme280.c
common/bme280.h
common/bme280_defs.h
common/secret_keys.h
common/meta.h

data/
