*.o
*.db
temp
uuid
uptime
hardware/bin/*
hardware/daemon/experiments/*
hardware/daemon/daemon
hardware/daemon/sensorDaemon
hardware/temperature/apikey.h
hardware/.vscode
network
network.c
homepage/devices.py
homepage/__pycache__/*

*.bin
firmware/node/user_config.h
firmware/node/node

