<html>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<head>		
	<title>
			Home Automation Data Dump.
		</title>
	</head>
	<body>
		<div class="container">
    <!--<h1>Raw Temperature Data</h1>-->
        <table>
        <tr>
            <th><b>ID</b></th>
            <th><b>Date</b></th>
            <th><b>Time</b></th>
            <th><b>Device</b></th>
            <th><b>Temperature</b></th>
            <th><b>Humidity</b></th>
        </tr>
        {% for reading in readings %}
        <div class="table">
            <tr>
                <td>{{reading.id }}</td>
                <td>{{reading.datestamp}}</td>
                <td>{{reading.timestamp}}</td>
                <td>{{reading.deviceID}}</td>
				<td>{{reading.temperature}} °C</td>
                <td>{{reading.humidity}}</td>
            </tr>
        </div>
        {% endfor %}
        </table>
    </div><!-- /.container -->	
	</body>
</html>

